.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.caption-box {
  background-color: rgba(211, 211, 211, 0.8); /* set the background color of the box */
  border: 1px solid #E5E5E5; /* set the border of the box */
  padding: 10px; /* set the padding of the box */
  border-radius: 10px;
}


.container-fluid
{
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  max-width: 100%;
}

/* Navbar */
.navbar {
  padding: 8px 10px 8px 10px !important;
}

/*
Filter Tools
*/
.container {
  margin-top: 30px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, 0.25);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
}

.btn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn:focus,
.btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.carousel-container {
  /* Adjust the background color as needed */
  background-color: #ffffff;
}

.filters-container {
  /* Adjust the background color, padding, and border-radius as needed */
  background-color: #f8f9fa;
  border-radius: 8px;
  width: 100%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 1 rem;
  text-align: center;
  font-weight: bold;
}

.card-body-row > .col {
  display: grid;
  grid-template-rows: 24px 35px 1fr;
  gap: 5px;
  padding: 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.maplibregl-canvas {
  cursor: default;
}

.maplibregl-canvas:active {
  cursor: grabbing;
}

.property-card-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto max-content;
  align-items: center;
  font-weight: bold;
  color: #414243 !important;
  gap: 5px;
  padding-right: 15px !important;
}

.property-card-body {
  border-radius: 0 0 5px 5px;
}

.property-card-header > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.show-more {
  padding: 0 !important;
  height: calc(100% + 10px);
  aspect-ratio: 1 / 1;
  filter: invert(14%);
}

.bar-graph-icon {
  opacity: 80%;
}

.invert-rank {
  display: flex !important;
  padding: 0 !important;
  height: 30px;
  aspect-ratio: 1 / 1;
  filter: invert(10%);
  align-items: center;
  justify-content: center;
}

.invert-icon {
  opacity: 70%;
}

.maplibregl-marker:hover {
  z-index: 2;
  cursor: pointer;
}

.maplibregl-popup {
  z-index: 3;
  width: 240px;
  height: 120px;
  max-width: 50% !important;
  max-height: 50% !important;
}

.maplibregl-popup-content {
  height: 100%;
  border-radius: 6px !important;
  padding: 10px 5px 5px 5px !important;
  border: 2px solid black;
  background-color: #282c34 !important;
  color: whitesmoke;
}

.maplibregl-popup-content > div {
  height: 100%;
  overflow: auto !important;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-bottom: none;
  border-top-color: black !important;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-top: none;
  border-bottom-color: black !important;
}

.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-left: none;
  border-right-color: black !important;
}

.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-right: none;
  border-left-color: black !important;
}

.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
  border-bottom: none;
  border-left: none;
  border-top-color: black !important;
}

.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
  border-bottom: none;
  border-right: none;
  border-top-color: black !important;
}

.maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
  border-top: none;
  border-left: none;
  border-bottom-color: black !important;
}

.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {
  border-top: none;
  border-right: none;
  border-bottom-color: black !important;
}

.maplibregl-popup-anchor-bottom-left > .maplibregl-popup-content {
  border-radius: 6px 6px 6px 0px !important;
}

.maplibregl-popup-anchor-bottom-right > .maplibregl-popup-content {
  border-radius: 6px 6px 0px 6px !important;
}

.maplibregl-popup-anchor-top-left > .maplibregl-popup-content {
  border-radius: 0px 6px 6px 6px !important;
}

.maplibregl-popup-anchor-top-right > .maplibregl-popup-content {
  border-radius: 6px 0px 6px 6px !important;
}

.maplibregl-popup-close-button {
  display: flex;
  margin: 0px;
  align-items: center;
  border-radius: 3px !important;
  color: white;
  aspect-ratio: 1 / 1;
}

.modal-90w {
  --bs-modal-width: calc(100% - 100px);
  --bs-modal-margin: 50px;
  height: calc(100% - 100px);
}

.modal-content {
  height: 100%;
}

.advanced-map-column {
  overflow-y: auto;
  text-align: center;
}

.data-overlays-column {
  height: 100%;
  border-radius: 8px;
  background-color: #f8f9fa;
  text-align: center;
}

.selected-property-card {
  box-shadow: 0 0 0 4px rgba(13,110,253,.25);
  border-radius: 6px;
}


/* Homepage carousel css*/
.carousel-custom {
  width: 100%;
  height: 400px;
}

.carousel-custom img {
  object-fit: cover;
  height: 600px;
}

#hotspot-scale {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 24px;
  background: rgb(0,128,240);
  background: linear-gradient(90deg, rgba(0,128,240,0.5) 0%, rgba(0,240,0,0.5) 25%, rgba(240,240,0,0.5) 50%, rgba(240,128,0,0.5) 75%, rgba(240,0,0,0.5) 100%);
  margin: 5px 0 5px 0;
  border: 2px solid #007bff;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

#hotspot-scale > div {
  display: grid;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  align-content: center;
}

#hotspot-scale-label-low {
  justify-content: left;
  color: #06a;
}

#hotspot-scale-label-high {
  justify-content: right;
  color: #a00;
}



#map-menu-container {
  display: grid;
  position: absolute;
  background-color: #f8f9fa;
  opacity: 90%;
  margin: 5px 0 0 5px;
  padding: 5px;
  min-width: 40px;
  max-width: 30%;
  height: fit-content;
  max-height: calc(100% - 10px);
  border: 2px solid #0d4ead;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 5px;
}

#map-menu-button-container {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

#map-menu-button {
  display: none;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  opacity: 10;
}

#map-menu-line-container {
  display: grid;
  grid-auto-flow: column;
  gap: 20%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;

  --ham-anim-speed: 0.2s;
}

.map-menu-line {
  display: flex;
  width: 500%;
  height: 20%;
  background-color: #0d4ead;
  border-radius: 2px;
  transition: width var(--ham-anim-speed) ease-in-out var(--ham-anim-speed),
      height var(--ham-anim-speed) ease-in-out;
}

#l1 {
  align-self: self-start;
  justify-self: left;
}

#l2 {
  align-self: center;
  justify-self: center;
}

#l3 {
  align-self: self-end;
  justify-self: right;
}

#map-menu-button:checked
  + #map-menu-line-container
  > .map-menu-line {
  width: 100%;
  height: 100%;
  transition: width var(--ham-anim-speed) ease-in-out,
      height var(--ham-anim-speed) ease-in-out var(--ham-anim-speed);
}

#show-hotspots, #show-recommended-properties, #show-nearby-property-types {
  margin: 0;
}

/* #show-hotspots + .form-check-label {
  display: flex;
  align-items: center;
} */

.map-radio-container {
  display: flex;
  align-content: center;
  align-items: center;
  width: 20px;
  gap: 5px;
  padding: 0 5px !important;
}

.map-control-radio {
  display: grid !important;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  margin-bottom: 0 !important;
}

.map-control-radio .form-check-input {
  margin-top: 0;
}

.map-control-radio .form-check-label {
  display: flex;
  align-items: center;
}

.map-control-switch > input, .map-control-switch > label {
  cursor: pointer;
}



.property-ratings-row > .col {
  border-radius: 6px;
  padding-bottom: 5px;
}